<h1>Listing quotes</h1>

<% @quotes.each do |quote| %>
  <div class="quote">
    <div class="header">
      <%= link_to image_tag('upboat.png'), shortvote_path({:direction => 'up', :quote => quote.id}) %>
    </div>
    <div class="main">
      <%= simple_format h quote.quote %>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Quote', new_quote_path %>
