<!DOCTYPE html>
<html>
<head>
  <title>Neptune QDB</title>
  <%= stylesheet_link_tag :neptune %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%#= image_tag "acm_logo.gif" %>

<%= yield %>

</body>
</html>
